 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
   /* header start here  */
.menu{
    text-align: right;
    margin-top: 10px;
}
.c-search-box {
    background-color: #fff;
    min-width: 218px;
    position: initial !important;
    color: #000;
    /* display: inline-block; */
}

.c-search-box[data-bs-popper] {
    top: 35% !important;
    left: 320px;
    margin-top: 0;
    border: none;
}

.c-logo a {
    font-size: 25px;
}
/* header start here  */  
 /* slider start here  */

 .c-carousel{
    margin: 80px 0;
    margin-top: 135px;
}
   .c-carousel h2 {
    font-size: 26px;
   
  }
  .c-carousel p{
    margin: 35px 0;
 
  }

 
   /* slider start here  */
   /* welcome section start  */
  .line{
      border-left: 1px solid #000;
    position: initial;
   }
   .w-wrapper h1{
    font-size: 20px;
    
   }


/* welcome section end  */
 /* brand section start  */
    .brand{
      margin: 0;
    }

    legend.scheduler{
    font-size: 45px !important;
    }

    .b-wrapper p {
    margin: 5px 0;
    }
    .b-wrapper h3 {
    font-size: 16px;
    margin: 5px 0;

    }
    /* brand section end  */
    /* about section start  */
    .ab-img{
      text-align: center;
    }
    .ab-img img {
      margin-top: 45px;
    }
    .ab-content {
      margin-top: 30px;
    }
    .ab-content h1 {
      font-size: 20px;
      text-transform: uppercase;
    }
    .ab-content p {
      margin-top: 0px;
    }
    .ab-btn{
      margin: 0;
    }
    /* about section end  */
    /* work section start  */
    .c-work {
      padding: 50px 0;
      
    }
    .c-work h1 {
      font-size: 20px;
    }
    .c-work ul {
      margin-top: 45px;
    }
    .c-work li{
      margin: 5px;
    }
    .c-work li a {
      margin-right: 18px;
    }
    .c-work-line {
      top: 0;
    }
    .icon {
      bottom: 120px;
    
    }
    .work-img .icon li a {
      font-size: 40px;
    } 
    .work-img:hover .icon li a {
        top: 35%;
        left: 40%;
    }
    .work .details{
      padding: 0;
    }
    /* .icon {
      top: 37%;
    } */
    /* work section end  */
      /* chose section start  */
  .chose-wrapper {
    margin: 45px 0;
  }
  .creative h2 {
    font-size: 16px;
  
  }
  .creative {
    text-align: center;
  
  }
  .c-chose h1 {
    font-size: 20px;
  }
  .c-chose-line {
    bottom: 50px;
  }
  /* chose section end  */
  /* who section start  */
  .who-wrapper {
    padding: 27px 0;
  }

  /* who section end  */
  /* who section start  */
  .h-icon {
    width: 16%;
   
  }
  .h-icon ul {
    margin: 0 -19px;
  }

  .h-icon ul li a {
    font-size: 21px;
  }
  .h-details{
    padding: 0 7px;
  }
  .c-who h1{
    font-size: 20px;
  }
  /* who section end  */
/* pricing section start  */
legend.price-scheduler {
  font-size: 16px !important;
}
.c-price h1 {
  font-size: 20px;
}
.pr-wrapper h3 {
  font-size: 20px;
  
}
.c-price-line {
  bottom: 50px;
}
/* pricing section end  */

/* respo section  */
.respo-c p {
  margin-bottom: 15px;
}
.respo {
  padding: 15px 0;
  text-align: center;
}
/* founder section start  */
.founder {
  margin: 32px 0;
}
  .found-c-btn {
    display: none;

  
  }
 .c_img {
  padding: 7px 9px;
 
 }
 .c_content {
  padding: 17px 8px;
  padding-top: 17px;
  padding-top: 6px;
 
 }
 .c-bov {
  border: none;
 }
/* founder section end  */
/* contact section start  */
.input-c input {
  padding: 8px 5px;
}
#Massege {
  padding: 8px 5px;
}
.c.price-btn {
  width: 50%;
 
}
/* contact section end  */
/* agency section start  */
.c-f-ul li a {
  padding: 5px;
  
}
.c-f-head h1 {
  font-size: 20px;
}
/* agency section end  */
/* footer area start  */
  .offset-2{
  margin: 0;
  }
  footer {
  background-size: auto;
  text-align: center;
  }

/* footer area end  */
.go-top a {
  right: 15px;
  font-size: 45px;
}
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
/* header start here  */
    .menu{
        text-align: right;
    }
    .c-search-box {
        color: #000;
        background-color: #fff;
        min-width: 375px;
        position: absolute !important;
    }
    .c-search-box[data-bs-popper] {
        top: 3% !important;
        left: 182px;
        margin-top: 0;
        border: none;
    }
   /* header start here  */ 
   /* slider start here  */

   .c-carousel{
    margin: 100px 0;
    }
   .c-carousel h2 {
    font-size: 42px;
   
  }
  .c-carousel p{
    margin: 35px 0;
 
  }
   /* slider start here  */
   /* welcome section start  */
  .line{
    bottom: 275px;
   }
   .w-wrapper h1{
    font-size: 25px;
    
    }
/* welcome section end  */
 /* brand section start  */
 .brand{
    margin: 0;
  }
  

  legend.scheduler{
    font-size: 45px !important;
  }

  .b-wrapper p {
  margin: 5px 0;
  }
  .b-wrapper h3 {
  font-size: 16px;
  margin: 5px 0;
  
  }
 /* brand section end  */
 /* about section start  */
    .ab-img{
      text-align: center;
    }
    .ab-img img {
      margin-top: 45px;
    }
    .ab-content {
      margin-top: 30px;
    }
    .ab-content h1 {
      font-size: 20px;
      text-transform: uppercase;
    }
    .ab-content p {
      margin-top: 0px;
    }
    .ab-btn{
      margin: 0;
        }
    /* about section end  */
    /* work section start  */
    .c-work ul {
      margin-top: 50px;
    }
    .c-work li a {
      margin-right: 10px;
      
    }
    .c-work-line {
      bottom: 195px;
    }
    .icon {
      bottom: 120px;
    
    }
    .work-img .icon li a {
      font-size: 40px;
    } 
    .work-img:hover .icon li a {
        top: 25%;
        left: 38%;
    }
    .work .details{
      padding: 0;
    }
    /* work section end  */
     /* chose section start  */
  .chose-wrapper {
    margin: 45px 0;
  }
  .creative h2 {
    font-size: 16px;
  
  }
  /* chose section end  */
  /* who section start  */
  .h-icon {
    width: 14%;
   
  }
  .h-details{
    padding: 0 7px;
  }
  /* who section end  */
  /* founder section start  */
  .founder {
    margin: 50px 0;
  }
  .row.bor {
    width: 100%;
  }
  .c_img {
      padding: 0;
   
  }
  .found-c-btn {
    padding: 150px 0;
  
    
    }
  .c_img img{
    
  }
  .c_content {
    padding-top: 21px;
  }
  
  /* founder section end  */
  /* contact section start  */
  .input-c input {
    padding: 8px 5px;
  }
  #Massege {
    padding: 8px 5px;
  }
  .c.price-btn {
    width: 50%;
   
  }

  /* contact section end  */
  /* agency section start  */
  .c-f-head h1 {
    font-size: 25px;
  }
  .c-f-ul li a {
    padding: 8px;
    
  }
  /* agency section end  */
  /* footer area start  */
  .offset-2{
    margin: 0;
  }
  /* footer area end  */
 }

    

/* medium devices (tablets, 768px up  */
@media (min-width: 768px) and (max-width: 991.98px) { 
  /* header start here  */
  .menu{
    text-align: right;
    }
    .c-search-box {
        color: #000;
        background-color: #fff;
        position: absolute !important;
    }
    .c-search-box[data-bs-popper] {
        top: 0 !important;
        left: 341px;
        margin-top: 0;
        border: none;
    }
  /* header end here  */

  /* slider start here  */
  .c-carousel{
    margin: 145px 0;
  }
  /* slider end here  */

  /* welcome section start  */
  .line{
      bottom: 233px;
  }
  /* welcome section end  */

  /* brand section start  */
  .brand{
    margin: 15px 0;
  }

  legend.scheduler{
    font-size: 50px !important;
  }

  .b-wrapper p {
    margin: 16px 0;
  }
  .b-wrapper h3 {
    font-size: 16px;
    margin: 12px 0;
    
  }
  /* brand section end  */

  /* about section start  */
  .ab-img img {
    margin-top: 45px;
  }
  .ab-content h1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  .ab-content p {
    margin-top: 0px;
  }
  .ab-btn{
    margin: 0;
  }
  /* about section end  */


  /* work seection start  */
  .icon {
    bottom: 90px;
  
  }
  .work-img .icon li a {
    font-size: 45px;
  } 
  .work-img:hover .icon li a {
      top: 25%;
      left: 38%;
  }
  .work .details{
    padding: 0;
  }
  /* work seection end  */
  /* chose section start  */
  .chose-wrapper {
    margin: 60px 0;
  }
  .creative h2 {
    font-size: 17px;
  
  }
  /* chose section end  */
  /* who section start  */
  .h-icon {
    width: 20%;
   
  }
  /* who section end  */

  /* founder section start  */
  .founder {
    margin: 75px 0;
  }
  .c_img {
    padding: 7px 9px;
   
  }
  .c_img img{
    height: 300px;
  }
  .c_content {
  padding: 0px 18px;
    padding-top: 0px;
  padding-top: 0px;
  }
  /* founder section end  */
   /* contact section start  */
  
  /* contact section end  */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    

 }
 /* Large devices ( large desktops, 992px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
 
    
}

/* Extra extra large devices ( extra extra large desktops, 1200px and up) */
@media (min-width: 1400px) { 
   
}
